body {
    background-color: rgb(48, 46, 43);
}

#game-arena {
    display: flex;
    flex-direction: column;
    /* flex-direction: row-reverse; */
    width: fit-content;
    margin: auto;
}

.squareRow {
    width: 800px;
    height: 100px;
    display: flex;
    /* flex-direction: column; */
}

.square {
    width: 100px;
    height: 100px;
}

.white {
    background-color: #EEEED2;
}

.black {
    background-color: #769656;
}

.piece {
    width: 100%;
}